#list_top {
    display: block;
    height: 50px;
    background-color: rgba(20, 20, 20, 0.7);
}

ul li {
    display: inline-block;
    margin: 10px;
    color: rgb(220, 220, 220);
}

.navigation_top {
    /*barre de navigation top */
}

#section_1 {
    display: block;
    background-color: rgb(230, 230, 230);
    height: 400px;
}

#section_2 {
    display: block;
    text-align: center;
    height: 50px;
    margin-top: 20px;
}

#section_3 {
    display: block;
    height: 400px;
}

.article {
    display: inline-block;
    background-color: rgb(230, 230, 230);
    height: 400px;
    width: 620px;
    margin: 0px auto;
}

#titre_contact {
    display: block;
    border-top: 1px solid rgb(100, 100, 100);
    margin-top: 200px;
}

#email {
    display: block;
    border: 1px solid rgb(100, 100, 100);
    height: 40px;
    width: 80%;
    position: relative;
    left: 5%;
    right: 5%;
}

#text1 {
    display: block;
    border: 1px solid rgb(100, 100, 100);
    height: 40px;
    width: 80%;
    position: relative;
    left: 5%;
    right: 5%;
    margin: 10px 0px 10px 0px
}

#text2 {
    display: block;
    border: 1px solid rgb(200, 200, 200);
    height: 40px;
    width: 80%;
    position: relative;
    left: 5%;
    right: 5%;
    margin: 10px 0px 10px 0px;
}

#textzone {
    display: block;
    border: 1px solid rgb(100, 100, 100);
    height: 40px;
    width: 80%;
    position: relative;
    left: 5%;
    right: 5%;
}